{% extends "base.html" %}

{% block laba %}Лабораторная работа 4{% endblock %}

{% block main %}
    <div>Тема лабораторной - Формы (POST). Список сделанных страниц</div> 
    <ol>
        <li>
            <a href="/lab4/div-form">Деление</a>
        </li>
        <li>
            <a href="/lab4/sum_form">Суммирование</a>
        </li>
        <li>
            <a href="/lab4/multiplication_form">Умножение</a>
        </li>
        <li>
            <a href="/lab4/subtract_form">Вычитание</a>
        </li>
        <li>
            <a href="/lab4/degreee_form">Возведение в степень</a>
        </li>
        <li>
            <a href="/lab4/tree">Посадка деревьев</a>
        </li>
        <li>
            <a href="/lab4/login">Авторизация</a>
        </li>
    </ol>
{% endblock %}
