{% extends "base.html" %}
{% block lab %}Лабораторная работа 4{% endblock %}
{% block main %}
    <div style="text-align: center;">
        <h1>Регистрация</h1>
        <form method="post">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required><br><br>
            
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" required><br><br>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Зарегистрироваться</button>
        </form>
        <div style="color: red; font-weight: bold;">
            {% if error %}
                {{ error }}
            {% endif %}
        </div>
    </div>
{% endblock %}