{% extends "base.html" %}

{% block laba %}Лабораторная работа 9{% endblock %}

{% block script %}
<style>

h1 {
    color: #c0392b; /* Красный цвет для заголовков */
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

button {
    background-color: #2ecc71; /* Зеленая кнопка */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 20px auto;
    display: block;
}

button:hover {
    background-color: #27ae60;
}

body {
    background: url('/static/lab9/snow.jpg') no-repeat center center fixed; /* Фоновое изображение снегопада */
    background-size: cover;
    text-align: center;
    padding: 20px;
    position: relative;
}

footer {
    background-color: #27ae60;

}
header {
    background-color: #27ae60;

}
</style>
{% endblock %}

{% block main %}
    <h1>{{ name }}, введите ваш возраст</h1>
    <form method="post">
        <label for="age">Ваш возраст:</label>
        <input type="number" name="age" required>
        <button type="submit">Далее</button>
    </form>
{% endblock %}
