{% extends "base.html" %}

{% block script %}
<style>

h1 {
    color: #c0392b; /* Красный цвет для заголовков */
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

img {
    display: block;
    width: 500px;
    height: auto;
    margin: 20px auto;
    border: 5px solid #c0392b;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.congratulations {
    font-size: 24px;
    font-weight: bold;
    color: #2ecc71;
    text-align: center;
    margin: 20px;
    padding: 15px;
    border: 2px dashed #2980b9;
    border-radius: 10px;
    background-color: #ecf0f1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #2ecc71; /* Зеленая кнопка */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 20px auto;
    display: block;
}

button:hover {
    background-color: #27ae60;
}

body {
    background: url('/static/lab9/snow.jpg') no-repeat center center fixed; /* Фоновое изображение снегопада */
    background-size: cover;
    text-align: center;
    padding: 20px;
    position: relative;
}

footer {
    background-color: #27ae60;

}
header {
    background-color: #27ae60;

}
</style>
{% endblock %}

{% block main %}
    <h1>Поздравления!</h1>
    <p class="congratulations">{{ greeting }}</p>
    <img src="{{ url_for('static', filename='lab9/' + gift_image) }}" alt="Подарок">
{% endblock %}
