<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Андреичева Алина. {% block laba %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">

    </head>
    <body>
        <header>
            WEB-программирование, часть 2. {{ self.laba() }}
        </header>
        
        <main>
            {% block main %}{% endblock %}
            <div style = "text-align: right">
                <a href="{{ url_for('menu') }}">Главное меню</a>
            </div>
        </main>

        <footer>
            &copy; Андреичева Алина, ФБИ-23, 2024
        </footer>
    </body>
</html>
