{% extends "base.html" %}
{% block laba %}Лабораторная работа 2{% endblock%}
{% block main %}
    <h1>Цветы</h1>
    <h2>Амариллис</h2> 
    <img src="{{ url_for('static', filename='с1.jpeg') }}">
    <div>
        <b>Амариллис</b>, или гиппеаструм – это похожий на лилию луковичный цветок 
        родом из Южной Африки. Практически все виды гиппеаструма, произрастающие 
        на собственной родине, при всей своей красоте и оригинальности характеризуются 
        полным отсутствием запаха.
    </div>

    <h2>Гербера</h2> 
    <img src="{{ url_for('static', filename='с2.jpeg') }}">
    <div>
        <b>Гербера</b> – это красивоцветущее травянистое растение семейства астровых с 
        потрясающими цветками всевозможных расцветок. Родиной герберы является Африка, 
        поэтому ее принято считать символом Солнца, которое светит и греет круглый год.
    </div>

    <h2>Гортензия</h2> 
    <img src="{{ url_for('static', filename='с3.jpeg') }}">
    <div>
        <b>Гортензия</b> – это изумительный по своей красоте декоративный садовый цветок с 
        крупными фигурными листьями и большими яркими соцветиями, вызывающими ощущение 
        воздушности и легкости. Свое название, означающее в переводе с греческого «сосуд 
        с водой», она получила как раз из-за большой любви к воде.
    </div>

    <h2>Кампанула</h2> 
    <img src="{{ url_for('static', filename='с4.jpeg') }}">
    <div>
        <b>Кампанула</b> – это общее латинское название для всех цветковых представителей 
        семейства колокольчиковых. Наиболее распространенные из них можно описать как 
        травянистые красивоцветущие растения умеренных широт с белыми, голубыми, синими 
        или лилово-фиолетовыми цветками.
    </div>

    <h2>Лизиантус</h2> 
    <img src="{{ url_for('static', filename='с5.jpeg') }}">
    <div>
        <b>Лизиантус</b>, он же эустома Рассела – это изысканно цветущий представитель дикорастущих 
        лугов Центральной Америки. На родине его называют техасским колокольчиком, 
        тюльпановой горечавкой , а иногда и японской или ирландской розой.
    </div>
{% endblock %}
