{% extends "base.html" %}

{% block laba %}РГЗ{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='lab7/main.js') }}"></script>
<style>
    .container {
        text-align: center;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .username {
        margin: 20px 0;
        font-size: 18px;
    }
    
    .button-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Центрируем кнопки */
    }
    
    .button-list {
        list-style: none;
        padding: 0;
    }
    
    .button-item {
        margin: 10px 0;
    }

    .button-link {
        text-decoration: none;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: #28a745;
        color: white;
        transition: background-color 0.3s;
        display: inline-block;
    }
    
    .button-link:hover {
        background-color: #218838;
    }
    
    .header {
        font-family: 'Georgia';
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold; 
    }
</style>    
{% endblock %}

{% block main %}
<div class="button-container">
    <div class="header">Пожалуйста, выберите вашу роль:</div>
    <ol class="button-list">
        <li class="button-item">
            <a href="/rzg/recipes" class="button-link">Обычный пользователь</a>
        </li>
        <li class="button-item">
            <a href="/rgz/entrance" class="button-link">Администратор</a>
        </li>
    </ol> 
</div>
{% endblock %}
