{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block style %}
    <style>
        .container {
            text-align: center;
            font-family: Arial, sans-serif;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input, .form-group textarea {
            width: 50%;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .public-group {
            display: flex;
            align-items: center;
             width: 50%;
             margin-left: auto;
            margin-right: auto;
        }
         .public-group label {
           margin-right: 5px;
         }

        .button-link {
            border: 1px solid #D2B48C;
            border-radius: 10px;
            background-color: #F5DEB3;
            padding: 10px;
            text-decoration: none;
            color: black;
         }
    </style>
{% endblock %}

{% block main %}
    <div class="container">
        <h1>{{ 'Редактировать' if article else 'Создать' }} статью</h1>
        <form method="post" action="">
            <div class="form-group">
                <label for="title">Заголовок:</label>
                <input type="text" name="title" id="title" value="{{ article.title if article }}" required>
            </div>
            <div class="form-group">
                <label for="article_text">Текст статьи:</label>
                <textarea name="article_text" id="article_text" rows="8" required>{{ article.article_text if article }}</textarea>
            </div>
            <div class="form-group">
             <div class="public-group">
                <label for="is_public">Публичная:</label>
                <input type="checkbox" name="is_public" id="is_public" {% if article and article.is_public %}checked{% endif %}>
              </div>
            </div>
             <button type="submit" class="button-link">Сохранить</button>
        </form>
    </div>
{% endblock %}

